<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hue control</title>
</head>
<body>
    <!-- Include _header.html using EJS template engine -->
    <%- include('_header.html') %>

    <h1>Test dashboard for Green Hue</h1>

    <button type="button" id="turnOn"  onclick="turnOn()">Turn on</button>
    <button type="button" id="turnOff" onclick="turnOff()">Turn off</button>

    <button type="button" id="Green" onclick="changeGreen()">Green</button>

    <button type="button" id="Red" onclick="changeRed()">Red</button>
    <button type="button" id="Blue" onclick="changeBlue()">Blue</button>
  <button type="button" id="Status" onclick="getGreenStatus()">GET STATUS</button>


    <!-- Include _footer.html using EJS template engine -->
    <%- include('_footer.html') %>
</body>
</html>
